name: Publish to Maven Central

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: corretto
          java-version: 17

      # validate that the gradle wrapper matches official checksums.
      - uses: gradle/wrapper-validation-action@ccb4328a959376b642e027874838f60f8e596de3

      - name: Write Nexus Key
        id: nexus_gpg_file
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: 'nexus-key.gpg'
          encodedString: ${{ secrets.NEXUSKEY64 }}

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Gradle Publish
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository -Psigning.keyId="${{ secrets.SIGNING_KEYID }}" -Psigning.password="${{ secrets.SIGNING_PASSWORD }}" -Psigning.secretKeyRingFile="${{ steps.nexus_gpg_file.outputs.filePath }}" -PsonatypeUsername="${{ secrets.NEXUS_USERNAME }}" -PsonatypePassword="${{ secrets.NEXUS_PASSWORD }}" -PRELEASE_NAME="${{ github.event.release.name }}"
